---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import IntroSection from "../components/IntroSection.astro";
import SensorCatalog from "../components/SensorCatalog.astro";
import VirtualManagement from "../components/VirtualManagement.astro";
import AIAssistantSection from "../components/AIAssistantSection.astro";
import FeatureCards from "../components/FeatureCards.astro";
import TechniciansBanner from "../components/TechniciansBanner.astro";
import TechCards from "../components/TechCards.astro";
import EventsCarousel from "../components/EventsCarousel.astro";
import BlogSection from "../components/BlogSection.astro";
---

<Layout title="Ecosistema Digital Agrario – Digitalización y Monitoreo" transparent={true}>
  <main>
    <Hero />
    <IntroSection />
    <SensorCatalog />
    <VirtualManagement />
    <AIAssistantSection />
    <FeatureCards />
    <TechniciansBanner />
    <TechCards />
    <EventsCarousel />
    <BlogSection />
  </main>
</Layout>
